

#heatmap {
    height: 500px;
}

#heatmap path.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

#heatmap svg {
    font-family: sans-serif;
    font-size: 0.8em;
}


#heatmap .background {
    fill: #fff89a;
    stroke: #444;
    stroke-width: 1px;
}


#heatmap .button {
    fill: #bbb;
    stroke: #444;
}