

#table1 {
    height: 300px;
    overflow: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#table1 .dc-table-group {
    display: none;
}

#table1 td {
    padding-left: 10px;
    padding-right: 10px;
}