

#heatmap{
    height: 500px;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}


.svg {
    font-family: sans-serif;
    font-size: 0.8em;
}


.background {
    fill: #fff89a;
    stroke: #444;
    stroke-width: 1px;
}


.button {
    fill: #bbb;
    stroke: #444;
}