.main-div-style {
    width: 90%;
    background-color: #fff;
    border: thin;
    border-style: solid;
    border-color: #5f6a70;
    border-radius: 0px;
    margin: 10px;
    padding: 0px;
    float: left;
    box-shadow: 5px 5px 5px #99b3bf;
}


.hidden {
    display: none;
}