.main-div-style {
    width: 90%;
    background-color: #fff;
    border: thin;
    border-style: solid;
    border-color: #5f6a70;
    border-radius: 0px;
    margin: 10px;
    padding: 0px;
    float: left;
    box-shadow: 5px 5px 5px #99b3bf;
    position: relative;
}


.main-div-style .controls {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: none;
}

.main-div-style .controls button {
    margin-bottom: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 0px;
}

.hidden {
    display: none;
}