
/* the top level div */
#punchcard-weekday-circle {
    height: 600px;
}

/* the svg element */
#punchcard-weekday-circle svg {
    font-family: sans-serif;
    font-size: 0.7em;
}

/* the axes */
#punchcard-weekday-circle path.domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the axes/chart's background  */
#punchcard-weekday-circle rect.chartbody {
    fill: #d8d8d8;
    shape-rendering: crispEdges;
}

/* the box around the chart background is a separate rect, this is its style */
#punchcard-weekday-circle rect.chartbody-box {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the symbols that are the main content of the plot */
#punchcard-weekday-circle circle.symbol {
    stroke: black;
    stroke-width: 1px;
}

/* the xlabel text */
#punchcard-weekday-circle text.horizontal-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the ylabel text */
#punchcard-weekday-circle text.vertical-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the title text */
#punchcard-weekday-circle text.title {
    text-align: center;
    text-anchor: middle;
}

/* the tick marks */
#punchcard-weekday-circle .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
