
/* the top level div */
#punchcard-weekday-rect {
    height: 200px;
}

/* the svg element */
#punchcard-weekday-rect svg {
    font-family: sans-serif;
    font-size: 0.7em;
}

/* the axes */
#punchcard-weekday-rect path.domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the axes/chart's background  */
#punchcard-weekday-rect rect.chartbody {
    fill: #d8d8d8;
    shape-rendering: crispEdges;
}

/* the box around the chart background is a separate rect, this is its style */
#punchcard-weekday-rect rect.chartbody-box {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the symbols that are the main content of the plot */
#punchcard-weekday-rect rect.symbol {
    stroke: none;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

/* the xlabel text */
#punchcard-weekday-rect text.horizontal-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the ylabel text */
#punchcard-weekday-rect text.vertical-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the title text */
#punchcard-weekday-rect text.title {
    text-align: center;
    text-anchor: middle;
}

/* the tick marks */
#punchcard-weekday-rect .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
