
/* the top level div */
#punchcard-date-rect {
    height: 200px;
}

/* the svg element */
#punchcard-date-rect svg {
    font-family: sans-serif;
    font-size: 0.7em;
}

/* the axes */
#punchcard-date-rect path.domain {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/* the axes/chart's background  */
#punchcard-date-rect rect.chartbody {
    fill: #d8d8d8;
    shape-rendering: crispEdges;
}

/* the box around the chart background is a separate rect, this is its style */
#punchcard-date-rect rect.chartbody-box {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the symbols that are the main content of the plot */
#punchcard-date-rect rect.symbol {
    stroke: none;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

/* the xlabel text */
#punchcard-date-rect text.horizontal-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the ylabel text */
#punchcard-date-rect text.vertical-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the title text */
#punchcard-date-rect text.title {
    text-align: center;
    text-anchor: middle;
}

/* the tick marks */
#punchcard-date-rect .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the ticks text */
#punchcard-date-rect .horizontal-axis text {
    /* some more style features are defined in the JavaScript*/
    transform: rotate(270deg);
}
