
/* the top level div */
#punchcard-date-circle {
    height: 600px;
}

/* the svg element */
#punchcard-date-circle svg {
    font-family: sans-serif;
    font-size: 0.7em;
}

/* the axes */
#punchcard-date-circle path.domain {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/* the axes/chart's background  */
#punchcard-date-circle rect.chartbody {
    fill: #d8d8d8;
    shape-rendering: crispEdges;
}

/* the box around the chart background is a separate rect, this is its style */
#punchcard-date-circle rect.chartbody-box {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the symbols that are the main content of the plot */
#punchcard-date-circle circle.symbol {
    stroke: #000000;
    stroke-width: 1px;
}

/* the xlabel text */
#punchcard-date-circle text.horizontal-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the ylabel text */
#punchcard-date-circle text.vertical-axis-label {
    text-align: center;
    text-anchor: middle;
}

/* the title text */
#punchcard-date-circle text.title {
    text-align: center;
    text-anchor: middle;
}

/* the tick marks */
#punchcard-date-circle .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* the ticks text */
#punchcard-date-circle .horizontal-axis text {
    /* some more style features are defined in the JavaScript*/
    transform: rotate(270deg);
}
