

#table1 {
    height: 300px;
    overflow: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
}

.dc-table-group {
    display: none;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}